.main_container
	display: grid
	grid-template-columns: repeat(2, 1fr)
	height: 100%

.leftside
	padding: 50px
	display: flex
	align-items: center
	&_images-logo
		margin-bottom: 2em
	&_images-mockup_img
		max-width: 96%

.righside
	display: flex
	align-items: center
	max-width: 590px
	margin: 0 .8em
	&_content
		color: #ffffff
		margin-bottom: 2em
		&-slogan
			font-family: primary-font
		&-text
			font-family: secondary-font
			padding-top: .5em
		&-btn
			padding-top: 1em
	&_social
		display: flex
		align-self: flex-end
		margin-bottom: 2em
		&-icon
			margin: 0 10px
