@media screen and (max-width: 768px)
	body
		background-image: url('./img/bg-mobile.svg')

	.main_container
		grid-template-columns: 1fr

	.leftside
		text-align: center

	.righside
		flex-direction: column
		justify-self: center
		text-align: center
		&_social
			align-self: center
