// variables
violet = #674aae
primary-font = 'Poppins', sans-serif
secondary-font = 'Open Sans', sans-serif

// utilities classes
.btn
	background-color: #ffffff
	color: violet
	border: none
	border-radius: 20px
	font-weight: bold
	padding: 15px 75px
	cursor: pointer

.btn_shadow
	box-shadow: 1px 6px 17px 2px rgba(0,0,0,0.15)
