@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap")

@require "_utilities"
@require "_main"
@require "_responsive"

*
	padding: 0
	margin: 0
	box-sizing: border-box
	outline: none
	text-decoration: none

body, html
	background-image: url("./img/bg-desktop.svg")
	background-color: violet
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	height: 100vh
